.dashboard-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.dashboard-title{
    margin-top: 100px;
}
.main-title{
    width: 100%;
    height: 30px;
}
.main-dashboard{
    margin-top: 150px;
}
.graph-per-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
